body {
  margin: 0;
  font-family: 'Impact', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.top-text {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  -webkit-text-stroke: 2px white;
  text-transform: uppercase;
  font-weight: bold;
}

.bottom-text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  -webkit-text-stroke: 2px white;
  text-transform: uppercase;
  font-weight: bold;
}
